PORT=3000
MONGO_URI=mongodb+srv://tuners_admin:Tuners123@tunersweb.eqhpjop.mongodb.net/?appName=TunersWeb
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
JWT_SECRET=
JWT_EXPIRE=
SESSION_SECRET=your_session_secret_here

