PORT=3000
MONGO_URI=mongodb+srv://tuners_admin:Tuners123@tunersweb.eqhpjop.mongodb.net/?appName=TunersWeb
SESSION_SECRET=t8Kx#mP2$qL9vR4nW7jY6uZ3cF1sBhD0eA5gN
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
