header {
  background: #133785;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.site-logo {
  width: 50px;
  height: auto;
}


nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}